@font-face {
    font-family: 'jockey_oneregular';
    src: url('./fonts/jockeyone-regular-webfont.woff2') format('woff2'),
         url('./fonts/jockeyone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "jockey_oneregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: black 0px 0px 3rem;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(102, 51, 153, 0.5);
    height: 200vh;
}

header, footer{
    width: 100vw;
    background-color: rgba(102, 51, 153, 0.5);
    padding: 1rem;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/delicious-food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(85%);
    position: relative;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 0, 0, 0) -500%, rgb(102, 51, 153));
}

.content * {
    z-index: 2;
}

.content .hero-text {
    margin: 10rem;
    text-align: center;
    font-size: 5rem;
    width: 75vw;
}

.content .restaurant-name {
    font-size: 12rem;
}

.content .secondary-text {
    font-size: 4rem;
    text-align: center;
}

.content .items-container {
    justify-self: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    width: 60vw;
    padding: 1rem;
    margin: 1rem;
}

.items-container .item {
    height: 500px;
    border: 2px solid black;
    border-radius: .5rem;
    background-size: cover;
    background-color: rgb(102, 51, 153);
    mix-blend-mode: multiply;
    background-position: center;
}

.items-container :first-child {
    background-image: url('./assets/hotdog-dish.webp');
}

.items-container :nth-child(2) {
    background-image: url("./assets/banana-ham-dish.webp");
}

.items-container :nth-child(3) {
    background-image: url("./assets/tuna-dish.webp");
}

.items-container :last-child {
    background-image: url('./assets/salad-dish.webp');
}

nav {
    justify-self: center;
    width: 60%;
    display: flex;
}

nav > * {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    padding: .5rem;
    font-size: 1.5rem;
}

nav > *:hover {
    background-color: rgba(241, 226, 255, 0.2);
}

nav > :not(:last-child) {
    border-right: 1px solid rgb(26, 0, 27);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}