* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(102, 51, 153, 0.5);
    height: 200vh;
}

header, footer{
    width: 100vw;
    background-color: rgba(102, 51, 153, 0.5);
    padding: 1rem;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .hero-text {
    margin: 10rem;
    text-align: center;
    font-size: 2.5rem;
    /* width: 900px; */
}

.content .restaurant-name {
    font-size: 8rem;
}

.content .secondary-text {
    font-size: 3rem;
    text-align: center;
}

.content .items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.items-container .item {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: .5rem;
    background-size: cover;
    background-position: -3rem;
    filter: grayscale(85%);
    background-color: rgba(102, 51, 153, 0.5);
    mix-blend-mode: multiply;
}

.items-container :first-child {
    background-image: url('./assets/hotdog-dish.webp');

}

.items-container :nth-child(2) {
    background-image: url("./assets/banana-ham-dish.webp");
}

.items-container :nth-child(3) {
    background-image: url("./assets/tuna-dish.webp");
}

.items-container :last-child {
    background-image: url('./assets/salad-dish.webp');
}

nav {
    justify-self: center;
    width: 60%;
    display: flex;
}

nav > * {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    padding: .5rem;
}

nav > *:hover {
    background-color: rgba(241, 226, 255, 0.2);
}

nav > :not(:last-child) {
    border-right: 1px solid rgb(26, 0, 27);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}